html {
    scroll-behavior: smooth;
  }
  
  p.small {
    line-height: 0.1;
    font-size: 3px;
  }
  p.moyen {
    line-height: 0.1;
    font-size: 30px;
  }
  
  #go14 {
    background-color: white; /* Vert */
    color: blue;
    font-family: Vernada,Arial;
    font-size: 14pt;
    border : none;
    cursor: pointer;
  }
  #go14:hover {
    background-color:green; /* cyan */
    color: white;
  }  
  #go16 {
    background-color: white; /* Vert */
    color: blue;
    font-family: Vernada,Arial;
    font-size: 16pt;
    border : none;
    cursor: pointer;
  }
  #go16:hover {
    background-color:green; /* cyan */
    color: white;
  }
  
  .t8{
    font-size: 8pt;
  }
  .t10{
    font-size: 10pt;
  }
  .t12{
    font-size: 12pt;
  }
  .t13{
    font-size: 13pt;
  }
  .t14{
    font-size: 14pt;
  }
  .t16{
    font-size: 16pt;
  }
  .t18{
    font-size: 18pt;
  }
  .t20{
    font-size: 20pt;
  } 
  .t22{
    font-size: 22pt;
  } 
  .t24{
    font-size: 24pt;
  } 
  .t26{
    font-size: 26pt;
  }
  .t28{
    font-size: 28pt;
  }
  .t30{
    font-size: 30pt;
  }
  .t36{
    font-size: 36pt;
  }
  
  
  .cv{
    color:green;
  } 
  .cb{
    color:blue;
  } 
  .cr{
    color:red;
  }
  
  
  .gr{
  font-weight: bold;
  }
  
   
  .mg20{
    margin-left : 20px;
  }
  .mg30{
    margin-left : 30px;
  }
  .mg40{
    margin-left: 40px;
  }
  .mg50{
    margin-left: 50px;
  } 
  .mg60{
    margin-left: 60px;
  }
  .mg80{
    margin-left: 80px;
  }
  .mg100{
    margin-left: 100px;
  }
  .mg150{
    margin-left: 150px;
  }
  
  
  .md20{
    margin-right: 20px;
  }
  .md0{
    margin-right: 30px;
  }
  .md40{
    margin-right: 40px;
  }  
  .md50{
    margin-right: 50px;
  } 
  .md60{
    margin-right: 60px;
  }
  .md80{
    margin-right: 80px;
  }
  .md100{
    margin-right: 100px;
  }
  .md150{
    margin-right: 150px;
  }
  .mh-10{
    margin-top: -10px;
  }
  .mh0{
    margin-top: 0px;
  }
  .mh20{
    margin-top: 20px;
  }
  .mh30{
    margin-top: 30px;
  }
  .mh40{
    margin-top: 40px;
  } 
  
  .mb20{
    margin-bottom: 20px;
  }
  .mb30{
    margin-bottom: 30px;
  }
  .mb40{
    margin-bottom: 40px;
  }
  .es0 {
  line-height: -10%;
  }
  .es10 {
  line-height: 10%;
  }
  .es30 {
  line-height: 30%;
  }
  .es50 {
  line-height: 50%;
  }
  
  .es70 {
  line-height: 70%;
  }
  .es100 {
  line-height: 100%;
  }
  .es130 {
  line-height: 130%;
  }
  .es150 {
  line-height: 150%;
  }
  
  .pa {
    font-family: Arial;
  }
  .pab {
  font-family: Arial Black;
  }
  .pv {
    font-family: Verdana;
  }
  .pva {
    font-family: Verdana, Arial;
  }
  .pc {
    font-family: cabibri;
  }
  
  .ahg {
  text-align: left; 
  }
  .ahd {
  text-align: right; 
  }
  .ahc {
  text-align: center; 
  }
  .ahj {
  text-align: justify; 
  }
  .avh {
  vertical-align: top;  
  }
  .avb {
  vertical-align: bottom; 
  }
  .avm {
  vertical-align: middle; 
  }
  .bs1{
  border: 1px solid black;
  }
  .bs2{
  border: 2px solid black;
  }
  .bd1{
  border: 1px double black;
  }
  .bd2{
  border: 2px double black;
  }
  .sti{
  font-style : italic;
  }
  .sts{
  text-decoration : underline;
  }
  .stb{
  text-decoration : line-through;
  }
  .page-container {
    width: 80%;
    margin: 0 auto;
  }
  .container {
    display: flex; /* Utilise Flexbox pour aligner le titre et le cadre */
    align-items: center; /* Aligne verticalement les �l�ments au centre */
    margin: 0 auto;
  }  
  .titre{
    width: 150px;
    text-align: center;
    margin: 1em auto 2em;
    font-size: 12pt;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;                     /* masque tout ce qui d�passe */
    box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC;
  } 
  .marquee-rtl {
    max-width: 1200px;                      /* largeur de la fen�tre */
    margin:  0 1em auto 0;
    font-size: 22pt;
    border: 7px solid #F0F0FF;
    border-radius: 7px;
    overflow: hidden;                     /* masque tout ce qui d�passe */
    box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC;
  }
  .marquee-rtl > :first-child {
  
    display: inline-block;                /* mod�le de bo�te en ligne */
    padding-right: 2em;                   /* un peu d'espace pour la transition */
    padding-left: 100%;                   /* placement � droite du conteneur */
    white-space: nowrap;                  /* pas de passage � la ligne */
    animation: defilement-rtl 45s infinite linear;
  }
  .marquee-rtl > div {
    display: inline-block;
    padding-right: 2em;
    padding-left: 100%;
    white-space: nowrap;
    animation: defilement-rtl 100s infinite linear;
    cursor: pointer;
  }
  .marquee-rtl:hover > div {  
  animation-play-state: paused; 
  }
  .marquee-rtl img {
    height: 100px;
    margin: 0 10px;
    vertical-align: middle; /* Aligne les images verticalement au milieu */
  }
  .marquee-rtl span {
    font-size: 20px; /* Ajustez la taille du texte */
    margin: 0 10px;
    vertical-align: middle; /* Aligne le texte verticalement au milieu */
  }
  
  @keyframes defilement-rtl {
    0% {
      transform: translate3d(0,0,0);      /* position initiale � droite */
    }
    100% {
      transform: translate3d(-100%,0,0);  /* position finale � gauche */
    }
  }
  .clic1 {
    border: none;
  }
  
  .clic1:hover {
    border: 2px solid red;
  }
  
  .clic2 {
    outline: none; 
  }
  
  .clic2:hover {
    outline: 2px solid red; /* Ajoute un contour de 2 pixels */
    outline-offset: -2px; /* D�cale le contour vers l'int�rieur */
  }
  .bulle {
  position:absolute;
  margin-left :400px;
  margin-top :40px;  
  display:none;
  width:70px; height:30px;
  background:#DBD7D7;
  border:1px solid black;
  }
   
  .appel:hover .bulle {
  display:block;
  } 
  .clickable-image {
    cursor: pointer;
  }
  
  .tooltip {
    visibility: hidden;
    position: absolute;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial;
    font-size: 16px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0px;
  }
  
  .clickable-image:hover + .tooltip {
    visibility: visible;
    opacity: 1;
  }
  
  /* Correction : Cibler l'�l�ment fr�re SPAN */
  .clickable-image:hover ~ .tooltip {
    visibility: visible;
    opacity: 1;
  }
  
  
  a span#infobulle {
          position:absolute;
          display: inline-block;
    
          margin-top: 0px;
          margin-bottom:100%;
          margin-left:1px;
          color:#fff;
          font-family: Arial;
          font-size: 10px;
          background:rgba(0, 0, 0, 0.5);
          background: blue;
          padding:5px;
          border-radius:5px;
                   
      /* Faire disparaire infobulle par d�faut */
      /* On determine l'origine de la rotation */
         transform:scale(0) rotate(-180deg);
        
       /* Faire durer l'effet */
          transition:all .50s;
                   
       /* Effet sur la transparence */
          opacity:0;
        }
               
       /* Apparition de la bulle avec le scale � 1 */
      a:hover span#infobulle, a:focus span#infobulle {
       transform:scale(1) rotate(0);
               
      /* Effet sur la transparence */
         opacity:1;
  }
  a {
    position: relative;
    display: inline-block;
  }
  a span#infobul {
    position: absolute;
    display: inline-block;
    color: #fff;
    font-family: Arial;
    font-size: 15px;
    background: blue;
    padding: 5px;
    border-radius: 5px;
    bottom: auto;
    top: 0px; /* Avec bottom: auto; pour que l'infobulle soit plac�e en haut dans l'image*/
    bottom: 100%;  /* Avec top: auto;  pour que l'infobulle soit plac�e en haut au-dessus de l'image */
    bottom: 0px; /* Avec top: auto; pour que l'infobulle soit plac�e en bas dans de l'image */
    top: 100%; /* avec bottom: auto; pour que l'infobulle soit plac�e en bas en-dessous de l'image */
    left: 50%;
    transform: translateX(-50%) scale(0) rotate(-180deg);
    transition: all 0.5s;                                              
    opacity: 0;
    z-index: 100;
    white-space: nowrap; /* Emp�che le texte de passer � la ligne */
    overflow: hidden; /* Cache tout ce qui d�passe de la bo�te */
    text-overflow: ellipsis; /* Ajoute des points de suspension (...) si le texte est tronqu� */
  }
  a:hover span#infobul,
  a:focus span#infobul {
    transform: translateX(-50%) scale(1) rotate(0);
    opacity: 1;
  }