body {
    background: #FFFFFF;
    font-family: Verdana, Arial;
    font-size: 14pt;
    font-weight: normal;
    }
    h1, h2, h3, h4, h5, h6 {
      margin-left: 30px; /* Ajoute une marge gauche de 30 pixels à toutes les lignes <h2> */
      margin-right:30px;
    }
    .m {
      margin:0px;
      text-align:center;
    }
    .g {
      font-weight: bold;
      margin-left: 30px; /* Ajoute une marge gauche de 30 pixels à toutes les lignes <h2> */
    }
    .mg {
      text-align:center;
      font-weight: bold;
    }
    .v {
      color:green;
    }
    .vm {
      color:green;
      margin:0px;
      text-align:center;
    }
    .vg {
      color:green;
      font-weight: bold;
      margin-left: 30px; /* Ajoute une marge gauche de 30 pixels à toutes les lignes <h2> */
    }
    .vmg {
      color:green;
      margin:0px;
      text-align:center;
      font-weight: bold;
    }
    .ligne5{
    margin-top: 5px;
    margin-left: 200px;
    margin-bottom: 0px;
    }
    .ligne10{
    margin-top: 10px;
    margin-left: 200px;
    margin-bottom: 0px;
    }
    .inter5{
    margin-bottom:5;
    }
    .inter10{
    margin-bottom:10;
    }
    .inter15{
    margin-bottom:15;
    }
    .inter20{
    margin-bottom:20;
    }
    #pave200go {
      background-color: #4CAF50; /* Vert */
      width:200px;
      height:50px;
      color: white;
      font-family: Arial black;
      font-size: 15px;
      border : 2px solid red;
      cursor: pointer;
    }
    #pave200go:hover {
      background-color:cyan; /* cyan */
      color: black;
    }
    #pave150go {
      background-color: #4CAF50; /* Vert */
      width:150px;
      height:50px;
      color: white;
      font-family: Arial black;
      font-size: 15px;
      border : 2px solid red;
      cursor: pointer;
    }
    #pave150go:hover {
      background-color:cyan; /* cyan */
      color: black;
    }
    #pave200 {
      background-color: #4CAF50; /* Vert */
      width:200px;
      height:50px;
      color: white;
      font-family: Arial black;
      font-size: 15px;
      border : 2px solid red;
    
    }
    #retour {
      background-color: #4CAF50; /* Vert */
      height:40px;
      color: white;
      font-family: Arial black;
      font-size: 14px;
      border : 2px solid red;
      cursor: pointer;
    }
    #retour:hover {
      background-color:cyan; /* cyan */
      color: black;
    }
    #retour2 {
      background-color: #4CAF50; /* Vert */
      color: white;
      font-family: Arial black;
      font-size: 14px;
      border : 1px solid black;
      cursor: pointer;
    }
    #retour2:hover {
      background-color:cyan; /* cyan */
      color: black;
    }
    #go12 {
      background-color: white; /* Vert */
      color: blue;
      font-family: Vernada,Arial;
      font-size: 12pt;
      border : none;
      cursor: pointer;
    }
    #go12:hover {
      background-color:green; /* cyan */
      color: white;
    }
    #go13 {
      background-color: white; /* Vert */
      color: blue;
      font-family: Vernada,Arial;
      font-size: 13pt;
      border : none;
      cursor: pointer;  
    }
    #go13:hover {
      background-color:green; /* cyan */
      color: white;
    }
    #go14 {
      background-color: white; /* Vert */
      color: blue;
      font-family: Vernada,Arial;
      font-size: 14pt;
      border : none;
      cursor: pointer;
    }
    #go14:hover {
      background-color:green; /* cyan */
      color: white;
    }  
    #retour3 {
      background-color: #4CAF50; /* Vert */
      color: white;
      padding: 5px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: Arial black;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 12px;
    }
    .button {
      display: inline-block;
      border: none;
      text-align: center;
      text-decoration: none;
      margin: 15px 30px;
      cursor: pointer;
      color: #564946;
    }
    
    
    .ti20n {
    text-align: center;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 20pt;
    font-weight: normal;
    color:black;
    }
    
    .ti20r {
    text-align: center;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 20pt;
    font-weight: normal;
    color:red;
    }
    .ti20b {
    text-align: center;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 20pt;
    font-weight: normal;
    color:blue;
    }
    .ti8v {
    text-align: center;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 8pt;
    font-weight: normal;
    color:green;
    }
    ti10v {
    text-align: center;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 10pt;
    font-weight: normal;
    color:green;
    }
    .ti12v {
    text-align: center;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 12pt;
    font-weight: normal;
    color:green;
    }
    .ti14v {
    text-align: center;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 14pt;
    font-weight: normal;
    color:green;
    }
    .ti20v {
    text-align: center;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 20pt;
    font-weight: normal;
    color:green;
    }
    .ti22n {
    text-align: center;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 22pt;
    font-weight: normal;
    color:black;
    }
    
    .ti22r {
    text-align: center;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 22pt;
    font-weight: normal;
    color:red;
    }
    .ti22b {
    text-align: center;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 22pt;
    font-weight: normal;
    color:blue;
    }
    .ti22v {
    text-align: center;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 22pt;
    font-weight: normal;
    color:green;
    }
    .ti24n {
    text-align: center;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 24pt;
    font-weight: normal;
    color:black;
    }
    
    .ti24r {
    text-align: center;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 24pt;
    font-weight: normal;
    color:red;
    }
    .ti24b {
    text-align: center;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 24pt;
    font-weight: normal;
    color:blue;
    }
    .ti24v {
    text-align: center;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 24pt;
    font-weight: normal;
    color:green;
    }
    .ti26n {
    text-align: center;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 26pt;
    font-weight: normal;
    color:black;
    }
    
    .ti26r {
    text-align: center;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 26pt;
    font-weight: normal;
    color:red;
    }
    .ti26b {
    text-align: center;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 26pt;
    font-weight: normal;
    color:blue;
    }
    .ti26v {
    text-align: center;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 26pt;
    font-weight: normal;
    color:green;
    }

    .ti20ng {
    text-align: left;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 20pt;
    font-weight: normal;
    color:black;
    }
    
    .ti20rg {
    text-align: left;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 20pt;
    font-weight: normal;
    color:red;
    }
    .ti20bg {
    text-align: left;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 20pt;
    font-weight: normal;
    color:blue;
    }
    .ti20vg {
    text-align: left;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 20pt;
    font-weight: normal;
    color:green;
    }
    .ti22ng {
    text-align: left;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 22pt;
    font-weight: normal;
    color:black;
    }
    
    .ti22rg {
    text-align: left;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 22pt;
    font-weight: normal;
    color:red;
    }
    .ti22bg {
    text-align: left;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 22pt;
    font-weight: normal;
    color:blue;
    }
    .ti22vg {
    text-align: left;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 22pt;
    font-weight: normal;
    color:green;
    }
    .ti24ng {
    text-align: left;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 24pt;
    font-weight: normal;
    color:black;
    }
    
    .ti24rg {
    text-align: left;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 24pt;
    font-weight: normal;
    color:red;
    }
    .ti24bg {
    text-align: left;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 24pt;
    font-weight: normal;
    color:blue;
    }
    .ti24vg {
    text-align: left;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 24pt;
    font-weight: normal;
    color:green;
    }
    .ti26ng {
    text-align: left;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 26pt;
    font-weight: normal;
    color:black;
    }
    
    .ti26rg {
    text-align: left;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 26pt;
    font-weight: normal;
    color:red;
    }
    .ti26bg {
    text-align: left;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 26pt;
    font-weight: normal;
    color:blue;
    }
    .ti26vg {
    text-align: left;
    line-height: 150%; 
    font-family: Arial Black;
    font-size: 26pt;
    font-weight: normal;
    color:green;
    }

    .tin4 {
    text-align: center;
    line-height: 100%; 
    font-family: Arial Black,Verdana;
    font-size: 14pt;
    font-weight: normal;
    color: #339900;
    }
    
    .tis2 {
    text-align: left;
    line-height: 100%; 
    font-family: Verdana,Arial;
    font-size: 10pt;
    text-decoration: underline; 
    font-weight: bold;
    color: #000000;
    }
    .tin2 {
    text-align: left;
    line-height: 100%; 
    font-family: Verdana,Arial;
    font-size: 10pt;
    text-decoration: none; 
    font-weight: bold;
    color: #000000;
    }
    li {
    text-align: justify;
    font-family: Verdana,Arial;
    color: #000000;
    text-decoration: none;
    }
    

    .txt8 {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 8pt;
    font-weight: normal;
    
    }
    .txt10 {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 10pt;
    font-weight: normal;
    
    }
    .txt12 {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 12pt;
    font-weight: normal;
    
    }
    .txt13 {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-left:10; 
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 13pt;
    font-weight: normal;
    
    }
    .txt14 {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 14pt;
    font-weight: normal;

    }
    .txt16 {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 16pt;
    font-weight: normal;

    }
    .txt18 {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 18pt;
    font-weight: normal;

    }
    .txt20 {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 20pt;
    font-weight: normal;

    }
    
    
    .txt8b {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 8pt;
    font-weight: bold;

    }
    .txt10b {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 10pt;
    font-weight: bold;
    
    }
    .txt12b {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 12pt;
    font-weight: bold;
    
    }
    .txt13b{
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 13pt;
    font-weight: bold;
    
    }
    .txt14b {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 14pt;
    font-weight: bold;
    
    }
    .txt16b {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 16pt;
    font-weight: bold;
    
    }
    .txt18b {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 18pt;
    font-weight: bold;
    
    }
    .txt20b {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 20pt;
    font-weight: bold;
    
    }
    
    .txt8bl {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 8pt;
    font-weight: normal;
    color: blue;
    }
    .txt10bl {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 10pt;
    font-weight: normal;
    color: blue;
    }
    .txt12bl {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 12pt;
    font-weight: normal;
    color: blue;
    }
    .txt13bl {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 13pt;
    font-weight: normal;
    color: blue;
    }
    .txt14bl {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 14pt;
    font-weight: normal;
    color: blue;
    }
    .txt16bl {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 16pt;
    font-weight: normal;
    color: blue;
    }
    .txt18bl {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 18pt;
    font-weight: normal;
    color: blue;
    }
    .txt20bl {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 20pt;
    font-weight: normal;
    color: blue;
    }

    
    .txt8bbl {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 8pt;
    font-weight: bold;
    color: blue;
    }
    .txt10bbl {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 10pt;
    font-weight: bold;
    color: blue;
    }
    .txt12bbl {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 12pt;
    font-weight: bold;
    color: blue;
    }
     .txt13bbl {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 13pt;
    font-weight: bold;
    color: blue;
    }
    .txt14bbl {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 14pt;
    font-weight: bold;
    color: blue;
    }
    .txt16bbl {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 16pt;
    font-weight: bold;
    color: blue;
    }
    .txt18bbl {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 18pt;
    font-weight: bold;
    color: blue;
    }
    .txt20bbl {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 20pt;
    font-weight: bold;
    color: blue;
    }
     .txt8bve {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 8pt;
    font-weight: bold;
    color: green;
    }
    .txt10bve {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 10pt;
    font-weight: bold;
    color: green;
    }
    .txt12bve {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 12pt;
    font-weight: bold;
    color: green;
    }
     .txt13bve {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 13pt;
    font-weight: bold;
    color: green;
    }
    .txt14bve {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 14pt;
    font-weight: bold;
    color: green;
    }
    .txt16bve {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 16pt;
    font-weight: bold;
    color: green;
    }
    .txt18bve {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 18pt;
    font-weight: bold;
    color: green;
    }
    .txt20bve {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 20pt;
    font-weight: bold;
    color: green;
    }
    
     .txt8bro {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 8pt;
    font-weight: bold;
    color: red;
    }
    .txt10bro {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 10pt;
    font-weight: bold;
    color: red;
    }
    .txt12bro {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 12pt;
    font-weight: bold;
    color: red;
    }
    .txt13bro {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 13pt;
    font-weight: bold;
    color: red;
    }
    .txt14bro {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 14pt;
    font-weight: bold;
    color: red;
    }
    .txt16bro {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 16pt;
    font-weight: bold;
    color: red;
    }
    .txt18bro {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 18pt;
    font-weight: bold;
    color: red;
    }
    .txt20bro {
    text-align: justify;
    line-height:100%; 
    margin-top:10; 
    margin-bottom:0;
    margin-right:20;
    font-family: Vernada,Arial;
    font-size: 20pt;
    font-weight: bold;
    color: red;
    }
    .ret2 {
    text-align: center;
    line-height: 100%; 
    font-family: Arial Black,Verdana;
    font-size: 10pt;
    font-weight: normal;
    color: #000099;
    }
    .ret3 {
    text-align: left;
    line-height: 100%; 
    font-family: Arial Black,Verdana;
    font-size: 10pt;
    font-weight: normal;
    color: #000099;
    }
    .txs2 {
    text-align: left;
    line-height:100%; 
    margin-top:0; 
    margin-bottom:0;
    font-family: Verdana, Arial;
    font-size: 8pt;
    font-weight: normal;
    }
    .tx2 {
    text-align: left;
    line-height: 100%; 
    font-family: Verdana, Arial;
    font-size: 8pt;
    font-weight: normal;
    color: #000000;
    }
    .tx3 {
    text-align: left;
    line-height: 100%; 
    font-family: Arial, Verdana;
    font-size: 10pt;
    font-weight: normal;
    color: #000000;
    }
    .txs3 {
    text-align: left;
    line-height: 100%; 
    font-family: Arial, Verdana;
    font-size: 10pt;
    font-weight: normal;
    color: #000000;
    }
    .mot1 {
    text-align: left;
    line-height: 100%; 
    font-family: Arial Black,Verdana;
    font-size: 12pt;
    font-weight: normal;
    color: #ff0000;
    }
    .essai {
    text-align : center;
    line-height : 100%; 
    margin-top : 0; 
    margin-bottom : 0;
    font-family : Arial Black,Verdana;
    font-size : 14pt;
    font-weight: normal;
    color : #993333;
    text-decoration: none;
    padding-left: 0px;
    padding-top: 0px;
    }
    .tin4 {
    text-align: center;
    line-height: 100%; 
    font-family: Arial Black,Verdana;
    font-size: 14pt;
    font-weight: normal;
    color: #339900;
    }
    
    .tis2 {
    text-align: left;
    line-height: 100%; 
    font-family: Verdana,Arial;
    font-size: 10pt;
    text-decoration: underline; 
    font-weight: bold;
    color: #000000;
    }
    .tin2 {
    text-align: left;
    line-height: 100%; 
    font-family: Verdana,Arial;
    font-size: 10pt;
    text-decoration: none; 
    font-weight: bold;
    color: #000000;
    }